<a href="#skip-to-content" aria-label="skip-to-content" class="visually-hidden">Skip to main content</a>{% set css %} {% include "style/main.css" %} {% endset %}<style>{{ css | cssmin | safe }}</style>
